@{
    ViewBag.Title = "Permiso denegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="alert alert-danger text-danger">No tiene permisos para ver esta página, contactese con un administrador.</h3>

<br />
@Html.ActionLink("Volver a la pagina anterior", null, null, null, new { href = Request.UrlReferrer })
