@{
    ViewBag.Title = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SistemaGestionCotizaciones.Models.DetalleMantenedor
@using System.Data;
<style>
    .ui-icon {
        background-image: url('../../Content/prueba/images/ui-icons_222222_256x240.png');
    }
</style><link rel="stylesheet" type="text/css" href="~/Content/css/grilla.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/mantenedorDetalle.css" />
<link href="~/Content/css/modal.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        function cargarPagina(id, idHead, ascDesc) {
            var url = '@Html.Raw(Url.Action("vpGrillaDEtalleCatalogoServicio", "Mantenedor", new { id = "param-id", ordenarPor = "param-name", ascDesc = "param-ascDesc" }))';
            url = url.replace("param-id", id)
                       .replace("param-name", idHead)
                       .replace("param-ascDesc", ascDesc);
            $('#tb_Header').load(url);
        }
        cargarPagina("0", "0", "0");
        var pagina;


        $(function () {
            $("#tabs").tabs();
        });
    });
</script>
<div class="container">
    <div class="row">
        <h3 id="ttl">Mantenedor de Servicio</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12" style="border-top:solid 2px #8FBE00;"></div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div id="tb_Header" class="grilla "></div>
    </div>
</div>
<div class="row">
    <!-- /.modal -->
    <div class="modal fade" id="modCustom">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header ttl_modal">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Nuevo Catálago de Elementos</h4>
                </div>
                <div id="nvo_header" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button id="btn_enviar" type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </div>
        </div>
    </div>
    <!-- /.modal -->

    @*<div class="row">
        <!-- /.modal -->
        <div class="modal fade" id="modDominio">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ttl_modal">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="" class="modal-title">Dominio</h4>
                    </div>
                    <div id="Dominio" data-id="" class="modal-body ui-front" style="height:260px"> </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button id="btn_enviar" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- /.modal -->
    <div class="row">
        <!-- /.modal -->
        <div class="modal fade" id="modFechaAplicacion">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ttl_modal">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 id="" class="modal-title">Dominio</h4>
                    </div>
                    <div id="Fecha" data-id="" class="modal-body ui-front" style="height:360px"> </div>
                    <div class="modal-footer">
                        <button id="btn_Atras" type="button" class="btn btn-default">Atras</button>
                        <button id="btn_Siguiente" type="button" hidden class="btn btn-primary">Siguiente</button>
                        <button id="btn_Finalizar" type="button" hidden class="btn btn-primary">Finalizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>
