
@{
    ViewBag.Title = "PruebaVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PruebaVista</h2>

<div class="col-md-2">
    <div>Proyecto</div>
    <select>
        <option></option>
    </select>

</div>